#E-Mail Variables
SMTP_SERVER=mail.choreo-planer.de
SMTP_DOMAIN=choreo-planer.de
SMTP_PORT=465
SMTP_USER=noreply@choreo-planer.de
SMTP_PASSWORD=changeMe
# Recipients for admin emails (comma-separated)
EMAIL_ADMIN_ADDRESSES=changeMe1@choreo-planer.de,changeMe2@choreo-planer.de