services:

  db: 
    ports:
      - 15432:5432

  server:
    build:
      context: server
      dockerfile: dev.Dockerfile
    image: anicklaus/cheer-tool:dev
    env_file:
      - .server.dev.env
    volumes:
      - ./server/src:/usr/src/app/src
      - ./server/dist:/usr/src/app/dist

  vector:
    deploy:
      replicas: 0