services:
  db:
    image: postgres:17-alpine
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - ./data:/var/lib/postgresql/data
    healthcheck:
      test: pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}
      interval: 10s
      retries: 5
      start_period: 30s
      start_interval: 3s
      timeout: 10s

  server:
    build: server
    restart: unless-stopped
    env_file:
      - .env
      - .server.env
    environment:
      - DB_HOST=db
    ports:
      - 3000:3000
    volumes:
      - ./logs:/usr/src/app/logs
      - ./uploads:/usr/src/app/uploads
      - ./uploads/profilePictures:/usr/src/app/uploads/profilePictures
      - ./uploads/clubLogos:/usr/src/app/uploads/clubLogos
    depends_on:
      db:
        condition: service_healthy
        restart: true
    healthcheck:
      test: wget -O - http://0.0.0.0:3000/health || exit 1
      interval: 10s
      retries: 5
      start_period: 30s
      start_interval: 3s
      timeout: 10s

  vector:
    image: timberio/vector:latest-alpine
    restart: unless-stopped
    command: ["-c", "/etc/vector/vector.yaml"]
    env_file:
      - ./vector/.env
    volumes:
      - ./vector/vector.yaml:/etc/vector/vector.yaml
      - /var/run/docker.sock:/var/run/docker.sock
    healthcheck:
      test: wget -O - http://0.0.0.0:8686/health || exit 1
      interval: 10s
      retries: 5
      start_period: 30s
      start_interval: 3s
      timeout: 10s