name: Build Vue and Deploy to Pages

on:
  push:
    paths:
      - "app/**"
      - ".github/workflows/pages.yml"
  workflow_dispatch:

jobs:
  install-dependencies:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./app

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: lts/*
          cache: "npm"
          cache-dependency-path: "**/package.json"
      - name: Install dependencies
        run: npm i
      - name: Upload node_modules
        uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: app-dev-node-modules
          path: "app/node_modules/"
          retention-days: 1
          compression-level: 6

  test-unit:
    needs: install-dependencies
    timeout-minutes: 60
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ./app

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: lts/*
          cache: "npm"
          cache-dependency-path: "**/package.json"
      - uses: actions/download-artifact@v4
        with:
          name: app-dev-node-modules
          path: app/node_modules
      - name: Install dependencies
        run: npm i
      - name: Run Jest tests
        run: npm run test:unit
      - name: Upload Jest Coverage Report
        uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: jest-coverage-report
          path: "app/coverage/"
          retention-days: 30

  build:
    needs: install-dependencies
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ./app

    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js 18.x
        uses: actions/setup-node@v3
        with:
          node-version: 18.x
          cache: "npm"
          cache-dependency-path: "**/package.json"

      - uses: actions/download-artifact@v4
        with:
          name: app-dev-node-modules
      - name: Install dependencies
        run: npm i

      - name: Build app
        run: npm run build

      - name: Copy index.html to 404.html
        run: cp dist/index.html dist/404.html

      - name: Create CNAME file
        run: echo www.choreo-planer.de > dist/CNAME

      - name: Archive artifact
        shell: sh
        run: |
          echo ::group::Archive artifact
          tar \
            --dereference --hard-dereference \
            --directory "$INPUT_PATH" \
            -cvf "$RUNNER_TEMP/artifact.tar" \
            --exclude=.git \
            --exclude=.github \
            .
          echo ::endgroup::
        env:
          INPUT_PATH: dist

      - name: Upload Built files
        uses: actions/upload-artifact@v4
        with:
          name: github-pages
          path: ${{ runner.temp }}/artifact.tar

  test-integration:
    needs:
      - install-dependencies
      - build
    timeout-minutes: 60
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ./app

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: lts/*
          cache: "npm"
          cache-dependency-path: "**/package.json"
      - uses: actions/download-artifact@v4
        with:
          name: app-dev-node-modules
          path: app/node_modules
      - name: Install dependencies
        run: npm i
      - uses: actions/download-artifact@v4
        with:
          name: github-pages
          path: app/dist
      - name: Unpack dist
        run: tar -xvf artifact.tar
        working-directory: app/dist/
      - name: List directories
        run: ls -al dist
      - name: Install Playwright Browsers
        run: npx playwright install --with-deps
      - name: Run Playwright tests
        run: npm run test:e2e
      - name: Upload Playwright Report
        uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: playwright-report
          path: "app/playwright-report/"
          retention-days: 30

  deploy:
    needs:
      - build
      - test-integration
      - test-unit
    if: github.ref == 'refs/heads/main'

    permissions:
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    runs-on: ubuntu-latest
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
