name: Build and push server

on:
  push:
    paths:
      - "server/**"
      - ".github/workflows/server.yml"
  workflow_dispatch:

jobs:
  test-unit:
    timeout-minutes: 60
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ./server

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: lts/*
          cache: "npm"
          cache-dependency-path: "**/package.json"
      - name: Install dependencies
        run: npm i
      - name: Run Jest tests
        run: npm run test:unit
      - name: Upload Jest Coverage Report
        uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: jest-coverage-report
          path: "server/coverage/"
          retention-days: 30

  docker-build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            anicklaus/cheer-tool
          tags: |
            type=raw,value=latest,enable={{is_default_branch}}
            type=ref,event=branch
            type=ref,event=tag
            type=ref,event=pr
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=sha
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: ./server
          file: ./server/Dockerfile
          platforms: linux/amd64
          push: ${{github.ref == 'refs/heads/main'}}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

  deployment-trigger:
    runs-on: ubuntu-latest
    needs:
      - docker-build
      - test-unit
    if: github.ref == 'refs/heads/main'
    steps:
      - name: Trigger server deployment
        uses: tyrrrz/action-http-request@master
        with:
          url: https://watchtower.andreasnicklaus.de/v1/update
          headers: |
            Authorization: Bearer ${{ secrets.WATCHTOWER_TOKEN }}
